{% extends 'dispatcher/base.html' %}

{% block title %}<title>Рассылка</title>{% endblock %}

{% block content %}
<div class="row">
    <table class="table table-hover align-middle">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Количество всех рассылок</th>
        <th scope="col">Количество активных рассылок</th>
        <th scope="col">Количество уникальных получателей</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ number_of_mailings }}</td>
        <td>{{ number_of_active_mailings }}</td>
        <td>{{ number_of_unique_recipient }}</td>
    </tr>
    </tbody>
</table>
</div>
<div class="row">
    <table class="table table-hover align-middle">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Количество попыток рассылок</th>
        <th scope="col">Количество успешных попыток рассылок</th>
        <th scope="col">Количество неуспешных попыток рассылок</th>
        <th scope="col">Количество отправленных сообщений</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ number_of_attempts }}</td>
        <td>{{ success_attempts }}</td>
        <td>{{ unsuccess_attempts }}</td>
        <td>{{ number_of_messages }}</td>
    </tr>
    </tbody>
</table>
</div>

{% endblock %}