{% extends 'dispatcher/base.html' %}

{% block content %}
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Ф.И.О.</th>
        <th scope="col">Комментарий</th>
    </tr>
    </thead>
    <tbody>
    {% for recipient in recipients %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ recipient.email }}</td>
        <td>{{ recipient.full_name }}</td>
        <td>{{ recipient.comment }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}